affine==2.4.0
# aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
# aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
# aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alembic==1.14.1
altair==5.5.0
# asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
# async-timeout @ file:///C:/b/abs_d8yc2t_bxy/croot/async-timeout_1732663677668/work
# attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
blinker==1.9.0
# Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
branca==0.8.1
# Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.5.2
# certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
# charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
# colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog==6.9.0
# comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy==1.3.1
cycler==0.12.1
# datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1717425882640/work
# debugpy @ file:///D:/bld/debugpy_1737269757879/work
# decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
# dill @ file:///C:/b/abs_f79eg27d2q/croot/dill_1715094735295/work
earthpy==0.9.4
# exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
# executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema==2.21.1
# filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
folium==0.19.4
fonttools==4.55.8
# frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
# fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
GDAL==3.10.0
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
# huggingface_hub @ file:///C:/b/abs_6f4hr2sio5/croot/huggingface_hub_1724853960198/work
idna==3.10
imageio==2.37.0
# importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
# ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
# ipython @ file:///D:/bld/bld/rattler-build_ipython_1738421304/work
ipywidgets==8.1.5
# jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
# jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
# jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lazy_loader==0.4
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.0
# matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mkl-service==2.4.0
# mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
# mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
# multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
# multiprocess @ file:///C:/b/abs_43lxksn2oj/croot/multiprocess_1692295065414/work
narwhals==1.25.1
nbformat==5.10.4
# nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
nltk==3.9.1
# numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
# numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
nvidia-ml-py==12.570.86
optuna==4.2.0
# packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
# pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp310-cp310-win_amd64.whl#sha256=6fc0a0523ea4ec3f23a2b790c738c857942b4c579479f8012ac8148d675b8975
# parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
# pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.1.0
# platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly==6.0.0
# prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
# propcache @ file:///C:/b/abs_d6o8xbonwb/croot/propcache_1732304003668/work
protobuf==5.29.3
# psutil @ file:///D:/bld/psutil_1735327343637/work
# pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==19.0.0
# pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1734380560621/work
pydeck==0.9.1
# Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pynvml==12.0.0
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.0
# PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
# python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
# pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==307
# PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
# pyzmq @ file:///D:/bld/pyzmq_1738270977186/work
rasterio==1.4.3
referencing==0.36.2
# regex @ file:///C:/b/abs_d785r851h6/croot/regex_1736542205858/work
# requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
rpds-py==0.22.3
# safetensors @ file:///C:/b/abs_2ecmzbbm08/croot/safetensors_1732234465439/work
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
shapely==2.0.7
# six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
SQLAlchemy==2.0.37
# stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
streamlit==1.43.0
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2025.1.10
# tokenizers @ file:///C:/b/abs_385x_d6rc8/croot/tokenizers_1732129631761/work
toml==0.10.2
# tornado @ file:///D:/bld/tornado_1732615925919/work
# tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
# traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
# transformers @ file:///C:/b/abs_2bgndud1b2/croot/transformers_1729767177936/work
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
# tzdata @ file:///croot/python-tzdata_1690578112552/work
# urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
watchdog==6.0.0
# wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
widgetsnbextension==4.0.13
# win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
xgboost==2.1.4
# xxhash @ file:///C:/b/abs_1aigrqyxpu/croot/python-xxhash_1737042790218/work
xyzservices==2025.1.0
# yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
# zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
